* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: montserrat;
}
header {
/*background: linear-gradient(to left, #0f0f0f, #001510 );*/  
  z-index: 1;
  backdrop-filter: blur(50px);
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position:fixed;
}
figure.logo {
  width: 20%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.logo > img{
  width: 150px;
  height: 100px;
}
header ul {
  margin-right: 50px;
  display: flex;
  gap: 50px;
  place-items: center;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
.checkbtn > svg{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
#check{
  display: none;
  
}
.checkbtn > svg:hover{
    cursor: pointer;
    color: white;
    background: #3966EA;
    border-radius: 5px;
}
@media (max-width: 768px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 600%;
    backdrop-filter: blur(15.5px);
-webkit-backdrop-filter: blur(15.5px);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header ul a {
    margin-top: 50px;
    font-size: 20px;
    width: 30%;
  }
  #check:checked ~ ul {
    left: 0px;
  }
  header{
    position: fixed;
    z-index: 999;
    padding: 0 50px 0 50px;
  }
}
.logo > span > svg{
  width: 100px;
  height: 100px;
}
a{
  position: relative;
  background: #bbbbbb;
  color: #cccccc;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.1em;
  font-weight: 400;
  padding: 10px 30px;
  transition: 0.5s;
  cursor: pointer;
  height: 40px;
}

a:hover{
  background: var(--clr);
  color: var(--clr);
  letter-spacing: 0.25em;
  box-shadow: 0 0 35px var(--clr);
}

a::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: #000;
}

a span{
  position: relative;
  z-index: 1;
  
}

a i{
  position: absolute;
  inset: 0;
  display: block;
}

a i::before{
  content: '';
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a:hover i::before{
  width: 20px;
  left: 20%;
}

a i::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 10px;
  height: 4px;
  background: #151F28;
  transform: translateX(-50%) skewX(325deg);
  transition: 0.5s;
}

a:hover i::after{
  width: 20px;
  left: 80%;
}
.input {
  background-color: #000000;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  border: 2px solid #bbbbbb;
  border-radius: 5px;
  font-size: 22px;
}

.input:focus {
  color: rgb(0, 255, 255);
  background-color: transparent;
  outline-color: rgb(0, 255, 255);
  box-shadow: -3px -3px 15px rgb(0, 255, 255);
  transition: .1s;
  transition-property: box-shadow;
}